.library {
	article {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: hsla(0, 0%, 88%, 1);

		&:nth-child(2n) { transform: rotate(0.75deg); }
		&:nth-child(3n) { transform: scale(0.975) rotate(-0.25deg); }
		&:nth-child(4n) { transform: none; }
		&:nth-child(5n) { transform: rotate(-0.5deg); }
	}

	@for $i from 2 to 10 {
		article:nth-of-type($i) {
			top: calc(($i - 1) * 2.25)rem;
			left: calc(($i - 1) * 1)rem;
			box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
			background-color: hsla(0, 0%, calc(85 + $i * 3)%, 1);
		}
	}

}