.library {

	& > div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	article {
		position: absolute !important;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		&:nth-child(2n) > div { transform: rotate(0.75deg); }
		&:nth-child(3n) > div { transform: scale(0.975) rotate(-0.25deg); }
		&:nth-child(4n) > div { transform: none; }
		&:nth-child(5n) > div { transform: rotate(-0.5deg); }

		& > div {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-image: url(img/texture.jpg);
			background-size: 100% 100%;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.8);
				pointer-events: none;
			}
		}

		header {
			padding: 1rem;

			h2 {
				margin: 0;

				a {
					color: inherit;
				}
			}
		}

		.content {
			padding: 0 1rem 1rem 1rem;
			overflow: hidden;
			overflow-y: auto;
		}
	}

	@for $i from 2 to 10 {
		article:nth-of-type($i) {
			margin-top: calc(($i - 1) * 3)rem;
			margin-left: calc(($i - 1) * 1)rem;

			& > div {
				box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

				&:after {
					background-color: rgba(0, 0, 0, calc(1 - $i * 2 / 10));
				}
			}
		}
	}

}