[role="navigation"] {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: $navHeight;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		display: flex;

		li {
			flex: 1;
			display: flex;

			a {
				flex: 1;
				background-color: red;
				padding: 1rem;
				text-align: center;
			}

			&:nth-of-type(odd) {
				a {
					background-color: green;
				}
			}
		}
	}
}

main {
	position: absolute;
	top: 0;
	right: 0;
	bottom: $navHeight;
	left: 0;
	overflow: hidden;
}

.slide-transition {
	transition: all 500ms ease;
	transform: translateX(0);
}

.slide-enter {
	transform: translateX(100%);
}

.slide-leave {
	transform: translateX(-100%);
}
